#.gitignore

Unity工程自带的文件类型
#Unity

[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

Assets/AssetStoreTools*

sysinfo.txt

*.pidb.meta

个人创建的文件忽略（这里可以加一些自己创建的文件类型）
#My_Custom
Output
UWP
Test
Standalone

编辑器文件忽略类型
#VS/Rider/MD/Consulo

ExportedObj/

.consulo/

.idea/

*.suo

*.tmp

*.user

*.pidb

*.booproj

*.svd

打包文件忽略
#Builds

*.apk

*.unitypackage

*.app

*.exe